/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 7.5rem;
}

.carousel-inner img {
  margin: auto;
}

.row{
    overflow: hidden;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
/** Testing changes
making multiple lines of change
in the css only
**/
