body {
	min-height: 75rem;
	padding-top: 7.5rem;
}
h4 {
	color: #224384;
}
.row.pg-div {
	padding-top: 10px;
}

.row.headholder{
	justify-content: center;
	padding-top: 0px !important;
}

.navbar {
    margin-bottom: 0px;
}

.carousel-inner img {
  margin: auto;
}

.jumbotron-fluid {
	background-color: #adc8ff;
	height: 84vh;
}

.cardtitle {
	color: #224384;
	font-family: Arial;
}
.carousel, .carousel-inner > .item {
  display: run-in;
  width: 100%;
  height: auto !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
}

.img-fluid {
	max-height: 60vh; !important;

}
