body {
	min-height: 75rem;
	padding-top: 7.5rem;
}

.row {
	padding-top: 10px;
}

.navbar {
    margin-bottom: 0px;
}

.carousel-inner img {
  margin: auto;
}

.jumbotron-fluid {
	background-color: #adc8ff;
	height: 84vh;
}

.cardtitle {
	color: #eeeeff;
	font-family: Arial;
}
.carousel, .carousel-inner > .item {
  display: run-in;
  width: 100%;
  height: auto !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
}

.img-fluid {
	max-height: 60vh; !important;
}
